* {
    margin: 0;
    padding: 0;

    position: absolute;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;

    // user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

html, body {
    // border: 2px solid #ff0000;
    // background: #99ccff;
    // background: rgba($color: #000000, $alpha: 0.5);

    font-family: 'EvilGeniusBB';
    // font-family: 'EvilGeniusBB-Bold';

    width: 100vw;
    height: 100vh;

    // width: 450px;
    // height: 360px;

    margin: 0;
    padding: 0;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;

    .bannerContainer {
        // border: 2px solid #ff0000;

        // background: #ffffff;
        // background: #dddddd;
        // background: #000000;

        // background-image: url(../images/Xframes/ECard01_PaperDoll_01.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_02.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_03.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_04.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_05.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_06.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_07.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_08.jpg);
        // background-image: url(../images/Xframes/ECard01_PaperDoll_09.jpg);

        // background-image: url(../images/ECard01_PaperDoll.jpg);
        background-image: url(../images/bg.jpg);

        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;

        width: 450px;
        height: 360px;

        // margin: 0;
        margin: 0 auto;
        padding: 0;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        overflow: hidden;

        .btn_audioToggle {
            // border: 2px solid #ff00ff;
            background: rgba($color: #000000, $alpha: 0);

            // opacity: 0.75;
            opacity: 0.25;

            left: 10px;
            bottom: 10px;
            z-index: 100;

            cursor: pointer;

            .btn_audioToggleOn {
                // fill: #ffffff;
                fill: rgba($color: #000000, $alpha: 1);

                visibility: visible;
            }

            .btn_audioToggleOff {
                // fill: #ffffff;
                fill: rgba($color: #000000, $alpha: 0.5);

                visibility: hidden;
            }
        }

        .bg {
            // border: 2px solid #0000ff;

            width: inherit;
            height: inherit;

            top: 0;
            left: 0;
        }

        .clickTag {
            // border: 2px solid #0000ff;

            background-image: url(../images/ECard01_PaperDoll.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;

            width: inherit;
            height: inherit;

            top: 0;
            left: 0;
            z-index: 99;

            cursor: pointer;

            .btnPlay {

                width: 20%;
                height: auto;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .clickTag::before {
            // border: 4px solid #000000;
            // background: #ffffff;
            background-color: #ffffff;

            content: '';
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            // opacity: 0;
            opacity: 0.5;
        }

        .logoSVG {
            // border: 1px solid #00ff00;
            fill: #ffffff;

            // width: 80%;
            // top: 20%;
            // left: 10%;

            // width: 105px;
            width: 23.333333333333333%;

            // height: 22px;
            // height: 6.111111111111111%;

            // top: 330px;
            top: 91.666666666666667%;
            // left: 335px;
            left: 74.444444444444444%;
            z-index: 99;

            opacity: 0.25;
            overflow: visible;
        }

        .dialogueContainer {
            // border: 2px solid #ff0000;

            // width: 454px;
            // height: 274px;

            // width: 227px;
            // height: 137px;

            // width: 225px;
            // height: 135px;

            // width: 50%;
            // height: 37.5%;

            width: 100%;
            height: 100%;

            // overflow: visible;

            // // top: 135px;
            // top: 37.5%;
            // left: 40%;
            // // bottom: 0;

            .dialogueBubbleSVG {
                // border: 2px solid #00ff00;

                // width: 454px;
                // height: 274px;

                // width: 227px;
                // height: 137px;

                // width: 225px;
                // height: 135px;

                width: 50%;
                // height: 37.5%;

                // top: 13px;
                // left: 436px;

                // top: 6.5px;
                // left: 218px;

                // top: 1.805555555555556%;
                // left: 48.444444444444444%;

                // visibility: hidden;
            }

            .dialogue {
                // border: 2px solid #ff0000;

                // color: #ff0000;

                font-size: 1.25em;
                line-height: 1em;
                text-align: center;

                width: 45%;

                margin: 0;
                padding: 0;

                top: 7%;
                left: 2.75%;
            }

            .dialogueSM {
                // border: 2px solid #ff0000;

                // color: #ff0000;

                font-size: 0.5em;
                line-height: 1em;
                text-align: center;

                width: 45%;

                margin: 0;
                padding: 0;

                top: 7%;
                left: 2.75%;
            }

            #dialogueBubbleSVG03ID {
                // width: 605px;
                // width: 302.5px;
                // width: 300px;
                // width: 66.666666666666667%;
                width: 70%;

                // left: 16.666666666666667%;
                // left: 15%;
                left: 13.75%;
            }

            #dialogueID03 {
                // border: 2px solid #ff0000;

                font-family: 'EvilGeniusBB-Bold';
                font-size: 1.875em;

                width: 70%;

                top: 6.875%;
                left: 12.875%;
            }
        }

        .dollContainer {
            // border: 2px solid #ff0000;

            // width: 454px;
            // height: 274px;

            // width: 227px;
            // height: 137px;

            // width: 225px;
            // height: 135px;

            // width: 50%;
            // height: 37.5%;

            width: 100%;
            height: 100%;

            // // top: 135px;
            // top: 37.5%;
            // left: 40%;
            // // bottom: 0;

            // overflow: visible;
            // visibility: hidden;

            .dollSVG {
                // border: 2px solid #0000ff;

                // width: 270px;
                // height: 437.5px;

                width: 60%;
                // height: 121.527777777777778%;

                // .doll {
                //     border: 2px solid #0000ff;
                // }

                // #doll01ID {
                //     border: 2px solid #ff00ff;
                //     top: 2.5%;
                //     left: 40%;
                // }

                // #doll02ID {
                //     border: 2px solid #00ffff;
                //     top: 2.5%;
                //     left: 40%;
                // }
            }
        }
    }
}
