/* ========== SITE COLORS ========== */
/*
BROWN = #5B1300
RED = #FC282D
LT BLLUE = #72CDF4
DK BLUE = #007FC4
LINK BLUE = #004C92
*/



/* ========== REF: (MICRO)CLEARFIX (ref: http://themergency.com/css-clearfix-demystified/) ========== */

.clearFix:before, .clearFix:after {
	content: "";
	display: table;
	}

.clearFix:after {
	clear: both;
}

.clearFix {
	zoom: 1;
}



/* ========== FONTS ========== */

@font-face {
	font-family: Berthold Akzidenz-Grotesk Bold;
	src: url(../fonts/BERTHO15.OTF);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Berthold Akzidenz-Grotesk Bold Condensed;
	src: url(../fonts/BERTHO08.OTF);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Berthold Akzidenz-Grotesk Super;
	src: url(../fonts/AkzidenzGroteskBE_Super.eot);
	src: local(AkzidenzGroteskBE_Super),
		url(../fonts/AkzidenzGroteskBE_Super.ttf) format(ttf),
		url(../fonts/AkzidenzGroteskBE_Super.woff) format(woff),
		url(../fonts/AkzidenzGroteskBE_Super.otf) format(opentype),
		url(../fonts/AkzidenzGroteskBE_Super.svg#filename) format(svg);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Speculum;
	src: url(../fonts/speculum.eot);
	src: local(Speculum),
		url(../fonts/speculum.ttf) format(ttf),
		url(../fonts/speculum.woff) format(woff),
		url(../fonts/speculum.otf) format(opentype),
		url(../fonts/speculum.svg#filename) format(svg);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: AvantGarde-CondBold;
	src: url(../fonts/AvantGarde-CondBold.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Adobe Garamond Italic;
	src: url(../fonts/Adobe_Garamond_Italic.eot);
	src: local(Adobe_Garamond_Italic),
		url(../fonts/Adobe_Garamond_Italic.ttf) format(ttf),
		url(../fonts/Adobe_Garamond_Italic.woff) format(woff),
		url(../fonts/Adobe_Garamond_Italic.otf) format(opentype),
		url(../fonts/Adobe_Garamond_Italic.svg#filename) format(svg);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Adobe Garamond Bold Italic;
	src: url(../fonts/Adobe_Garamond_Bold_Italic.eot);
	src: local(Adobe_Garamond_Bold_Italic),
		url(../fonts/Adobe_Garamond_Bold_Italic.ttf) format(ttf),
		url(../fonts/Adobe_Garamond_Bold_Italic.woff) format(woff),
		url(../fonts/Adobe_Garamond_Bold_Italic.otf) format(opentype),
		url(../fonts/Adobe_Garamond_Bold_Italic.svg#filename) format(svg);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: GaramondFBText-LightItal;
	src: url(../fonts/GaramFBTexLigIta.eot);
	src: local(GaramFBTexLigIta),
		url(../fonts/GaramFBTexLigIta.ttf) format(ttf),
		url(../fonts/GaramFBTexLigIta.woff) format(woff),
		url(../fonts/GaramFBTexLigIta.otf) format(opentype),
		url(../fonts/GaramFBTexLigIta.svg#filename) format(svg);
	font-weight: normal;
	font-style: normal;
}



/* ========== GLOBAL ========== */

html, body {
	/*border: 05px solid #00FF00;
	border-style:inset;*/

	width: 100%;
	height: 100%;

	font-size: 1em;

	margin: 0px auto 0px auto;
	padding: 0px;
}

canvas, svg {
	/*border: 05px solid #00FF00;
	border-style:inset;*/

	background: none;
/*
	width: 100%;
	height: 10%;
*/
	margin: 0;
	padding: 0;

	position: absolute;
	z-index: 11;
}

#panelTop {
	/*border: 02px solid #FF0000;
	border-style:inset;*/

	top: 0px;
}

#panelBtm {
	/*border: 02px solid #0000FF;
	border-style:inset;*/

	bottom: 0px;
}



/* ========== MENU / NAVBAR ========== */

/* ---------- LINKS (global) ---------- */

a, a:link, a:visited {  
	color: #666666;
	text-decoration: none;

	-webkit-transition: color .125s linear;
	-moz-transition: color .125s linear;
	-o-transition: color .125s linear;
	-ms-transition: color .125s linear;
	transition: color .125s linear;
}  

a:hover {  
	color: #FFFFFF;
}

a:active {  
	color: #333333;
}

/* ---------- CONTAINER - #navContainer *** DEFUNCT? check HTML *** ---------- */

#navContainer {
	/*border: 02px solid #00FFFF;
	border-style: inset;*/

	background: #000000;

	font-family: Berthold Akzidenz-Grotesk Bold;
	font-size: 16.25px;
	line-height: -20px;
	letter-spacing: 1.75px;
	color: #000000;

	height: inherit;
	width: 30%;

	position: absolute;
	left: 0px;
	top: 0px;

	margin: 0px;
	padding: 0px;

	float: left;
	z-index: 9999;
}

/* ---------- CONTAINER - #navMainContainer ---------- */

#navMainContainer {
	/*border: 02px solid #00FF00;
	border-style: inset;*/

	/*background: none;*/
	background: #000000;
	/*opacity: .5;*/

	color: #000000;
/*
	font-family: Berthold Akzidenz-Grotesk Bold;
	font-size: 16.25px;
	line-height: -20px;
	letter-spacing: 1.75px;
*/
	font-family: Berthold Akzidenz-Grotesk Bold;
	/*font-size: 50%;*/
	line-height: -20px;
	letter-spacing: 1.75px;

/* NOTE: be sure this navMainContainer.width = navSectContainer.left */
	width: 18.75%;
	height: inherit;

	margin: 0px;
	padding: 0px;

	float: left;
	position: absolute;
	z-index: 10 !important;
}

/* ---------- CONTAINER - #navMainContainer content ---------- */

.logo {
	/*border: 2px solid #FF00FF;
	border-style: inset;*/

	width: 63.75%;

	margin: 60% 12.5% 0px 0px;

	float: right;
}

.hed1 {
	font-family: Speculum !important;
}

.navMenu {
	/*border: 2px solid #0000FF;
	border-style: inset;*/

	/*width: inherit;*/
	width: 72.5%;

	line-height: 30px;

	margin: 10% 0px 0px 0px;
	/*margin: 10% 12.5% 0px 0px;*/
	/*padding-bottom: 15px;*/

	float: right;
}

.navMenu img {
	width: 100%;
}

/* ---------- CONTAINER - #navSectContainer ---------- */

.navSectContainer {
	/*border: 02px solid #FFFF00;
	border-style: inset;*/

	background: none;
	/*background: rgba(0, 0, 0, 0.8375);*/
	/*background: rgba(75, 5, 5, 0.875);*/
	/*background: #222222;*/
	/*opacity: .5;*/

	width: 12.5%;
	height: 85.125%;

	top: 5%;
/* NOTE: be sure this navSectContainer.left = navMainContainer.width */
	left: 18.75%;
	/*left: 15%;*/

	margin: 0px;
	padding: 0px;

	/*float: right;*/
	position: absolute;
	z-index: 5 !important;
}

/* ---------- CONTAINER - #navSect ---------- */

.navSect {
	/*border: 02px solid #FF00FF;
	border-style: inset;*/

	background: rgba(0, 0, 0, 0.8375);
	/*background: rgba(75, 5, 5, 0.875);*/
	/*background: #222222;*/
	/*opacity: .5;*/

	width: 100%;
	height: 100%;

	/*top: 7%;*/
/* NOTE: be sure this navMainContainer.width = navSectContainer.left */
	/*left: 18.375%;*/
	left: -100%;

	margin: 0px;
	padding: 0px;

	/*float: right;*/
	position: absolute;
	z-index: 4 !important;
}

/* ---------- CONTAINER - #navSect content ---------- */

.navSectContainer .sectHed {
	/*border: 2px solid #00FF00;
	border-style: inset;*/

	font-family: Berthold Akzidenz-Grotesk Bold;
	font-size: 7.5em;
	line-height: 85px;
	letter-spacing: 1.75px;
	color: #FFFFFF;

	position: relative;
/* NOTE: be sure this navSectContainer.sectHed.top = navSectContainer.sectSubHed.top */
	top: 20%;
	left: 5%;

	padding-bottom: 15px;
}

.navSectContainer .sectSubHed {
	/*border: 2px solid #00FF00;
	border-style: inset;*/

	font-family: Berthold Akzidenz-Grotesk Bold;
	font-size: 17.5px;
	line-height: 25px;
	/*letter-spacing: 1px;*/
	color: #FFFFFF;
	text-transform: uppercase;

	position: relative;
/* NOTE: be sure this navSectContainer.sectHed.top = navSectContainer.sectSubHed.top */
	top: 20%;
	left: 8.75%;
}

.navSectContainer img {
	/*width: 85%;*/

	/*padding-top: 5px;*/
	padding: 5px 0px 10px 0px;
}

.navSectContainer .subNavMenu {
	/*border: 2px solid #00FF00;
	border-style: inset;*/

	font-family: Berthold Akzidenz-Grotesk Bold Condensed;
	font-size: 17.5px;
	line-height: 30px;
	letter-spacing: .75px;
	color: #FFFFFF;
	text-transform: uppercase;

	position: relative;
/* NOTE: be sure this navSectContainer.sectHed.top = navSectContainer.sectSubHed.top */
	top: 22.5%;
/* NOTE: be sure this navSectContainer.sectHed.left = navSectContainer.sectSubHed.left */
	left: 8.75%;
}


/* ---------- contentContainer - holds all sectContainer(s) ---------- */

.contentContainer {
	/*border: 5px solid #0000FF;
	border-style:inset;*/

	width: 81.6875%;
	/*width: 100%;*/
	height: 100%;

	margin: 0px;
	padding: 0px;

	overflow: hidden;
	float: right;

	position: absolute;
	/*position: relative;*/

	/*top: 0%;*/

/* NOTE: be sure this contentContainer.left = 100% - contentContainer.width - 0.3125 (that very last bit is a cheat) */
	/*left: 18.3125%;*/
	left: 18.375%;
}



/* ========== SECT CONTAINERS ========== */

/* ----------      sectContainer - holds one section each ---------- */

.sectContainer {
	/*border: 5px solid #FF0000;
	border-style:inset;*/

	color: #000000;

	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

	-webkit-background-size: cover; /*for webKit*/
	-moz-background-size: cover; /*Mozilla*/
	-o-background-size: cover; /*opera*/
	background-size: cover; /*generic* *NOTE: to work in Firefox, this line had to be added to each section container, #xxxContainer, below under SECTIONS (ref: http://stackoverflow.com/questions/6739178/css-cant-get-background-size-contain-to-work-in-firefox-5) */

	/*position: absolute;*/
	/*position: relative;*/
	/*top: 0%;*/

	/*z-index: 0 !important;*/
}

.sectContainer h1 {
	/*border: 5px solid #FF0000;
	border-style:inset;*/

	font-family: Berthold Akzidenz-Grotesk Super;
	font-size: 70px;
	font-weight: normal;

	line-height: 57.5px;
	letter-spacing: -1.25px;
	/*text-indent: 15%;*/

	/*margin-top: 20%;*/
	margin: 15% 0px 0px 16.25%;
}

.sectContainer h2 {
	/*border: 5px solid #FF0000;
	border-style:inset;*/
	color:#444444;

	font-family: Adobe Garamond Italic;
	font-size: 23.75px;
	font-weight: normal;

	line-height: 35px;
	letter-spacing: .5px;
	/*text-indent: 15%;*/
	text-align: center;

	/*margin-top: 20%;*/
	margin: 1.875% 45% 0px 16.25%;
}

.sectContainer h3 {
	/*border: 5px solid #FF0000;
	border-style:inset;*/
	color:#444444;

	font-family: Adobe Garamond Italic;
	font-size: 23.75px;
	font-weight: normal;

	line-height: 35px;
	letter-spacing: .5px;
	/*text-indent: 15%;*/
	text-align: right;

	/*margin-top: 20%;*/
	margin: 0px 45% 0px 16.25%;
}

/* ---------- subSectContainer - holds one SUBsection each ---------- */

.subSectContainer {
	/*border: 5px solid #FF0000;
	border-style:inset;*/

	/*background: #FFFFFF;*/
	background: none;

	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 2.5% 0 0 .1875%;

	position: absolute;
	top: 50%;
	left: 0;
}



/* ========== SECTIONS (SEE NOTES IN "GLOBAL CONTAINERS/ - sectContainer/background-size/generic" above) ========== */

/* ---------- HOME ---------- */

#sectContainer0 {
	/*border: 01px solid #FF0000;*/
	background: url(../img/carly_00.jpg) no-repeat right top;
	background-size: cover; /*generic*/
/*
	font-family: AvantGarde-CondBold;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-align: center;
	line-height: 40px;

	width: inherit;
	height: 100px;
	
	top: 160px;

	margin: 0px;
	padding: 0px;
*/
	position: absolute;
	z-index: 3 !important;
}

/* ---------- CARLY ---------- */

#sectContainer1 {
	/*border: 01px solid #FF0000;*/
	background: url(../img/carly_01.jpg) no-repeat right top;
	background-size: cover; /*generic*/

	position: absolute;
	z-index: 3 !important;
}

/* ---------- WORK ---------- */

#sectContainer2 {
	/*border: 01px solid #FF0000;*/
	background: url(../img/carly_02.jpg) no-repeat right top;
	background-size: cover; /*generic*/

	position: absolute;
	z-index: 3 !important;
}

/* ---------- SOCIAL ---------- */

#sectContainer3 {
	/*border: 01px solid #FF0000;*/
	background: url(../img/carly_03.jpg) no-repeat right top;
	background-size: cover; /*generic*/

	position: absolute;
	z-index: 3 !important;
}

/* ---------- CONTACT ---------- */

#sectContainer4 {
	/*border: 01px solid #FF0000;*/
	background: url(../img/carly_04.jpg) no-repeat right top;
	background-size: cover; /*generic*/

	position: absolute;
	z-index: 3 !important;
}



/* ---------- HOME (social) ---------- */

.sectContainer3 {
	/*border: 01px solid #FF00FF;*/

	/*vertical-align: text-top;*/
	vertical-align: bottom;

	width: 50%;

	/* CSS3 */
	column-count: 3; 
	column-gap: 0px;
	/*column-rule: 2px dotted coral;*/
	column-fill: balance;

	/* Safari and Chrome */
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	/*-webkit-column-rule: 2px dotted coral;*/
	-webkit-column-fill: balance;

	/* Firefox */
	-moz-column-count: 3; 
	-moz-column-gap: 0px;
	/*-moz-column-rule: 2px dotted coral;*/
	-moz-column-fill: balance;

	/* Internet Explorer */
	-ms-column-count: 3; 
	-ms-column-gap: 0px;
	/*-ms-column-rule: 2px dotted coral;*/
	-ms-column-fill: balance;

	/* Opera */
	-o-column-count: 3; 
	-o-column-gap: 0px;
	/*-o-column-rule: 2px dotted coral;*/
	-o-column-fill: balance;

	margin: inherit;
	padding: 15px 0px 0px 0px;

	float: left;
}

.btnSocial {
	/*border: 01px solid #FF0000;*/

	margin: 0px;
	padding: 0px;
}

/* ---------- HOME (form) ---------- */

input {
	outline:none;
}

.formContainer {
	/*border: 01px solid #0000FF;*/

	font-family: AvantGarde-CondDemi;
	font-size: 15px;
	letter-spacing: inherit;
	text-decoration:none;
	
	width: 45%;

	margin: inherit;
	padding: 0px 10px 0px 0px;

	float: right;
}

.formInput {
	/*border: 1px solid #000000;*/

	height: 35px;
}

.inputField {
	/*border: 0px solid #00FF00;*/

	width: 67.5%;
	height: inherit;

	margin: 0px;
	padding: 0px;
}

/* ---------- HOME (form button ref:CSSButtonGenerator.com) ---------- */

.btn_global {
	/*border: 1px 1px 1px 0px solid #000000;*/
	/*border-bottom: 1px solid #000000;*/
	border: 0px solid #000000;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background-color:#fe1a00;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');

	color:#ffffff;
	font-family: AvantGarde-CondDemi;
	font-size: 15px;
	letter-spacing: inherit;
	text-decoration:none;

	width: 30%;
	height: inherit;

	display:inline-block;
	float: right;
	/*padding:5px 20px;*/
}

.btn_global:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background-color:#ce0100;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
}



/* ---------- BLOG ---------- */

#blogContainer {
	/*border: 01px solid #FF0000;*/

	width: inherit;
}

/* ---------- BLOG (postContainer) ---------- */

.postContainer {
	/*border: 01px solid #00FF00;*/

	margin: 0px;
	padding: 0px 25px 20px 25px;

	zoom: 1;
}

.postContainer:before, .postContainer:after {
	content: "";
	display: table;
	}

.postContainer:after {
	clear: both;
}

.postContainer a, .postContainer a:link, .postContainer a:visited {
	/*border: 01px solid #00FF00;*/
	color: #000000;
	text-decoration: underline;
}

.postContainer a:hover {
	color: #FC282D;
}

.postContainer a:active {
	color: #004C92;
}

/* ---------- BLOG (postImage) ---------- */

.postImage {
	/*border: 01px solid #0000FF;*/

	max-width: 50%;

	margin: 0px;
	padding: 0px;

	float: left;
}

.postImage img {
	/*border: 01px solid #00FFFF;*/

	max-width: 100%;

	margin: 0px;
	padding: 0px;
}

/* ---------- BLOG (postHed) ---------- */

.postHed {
	/*border: 01px solid #FF00FF;*/

	width: 50%;

	margin: 0px;
	padding: 0px;

	float: right;
}

.postHed p {
	/*border: 01px solid #FF00FF;*/

	color: #666666;
	font-family: AvantGarde-CondBook;
	/*font-family: AvantGarde-CondDemi;*/
	font-size: 17px;
	letter-spacing: normal;

	margin: 0px;
	padding: 5px 0px 5px 0px;
}

/* ---------- BLOG (postCopy) ---------- */

.postCopy {
	/*border: 01px solid #FF0000;*/

	width: 50%;

	/*margin-left: -10px;*/
	margin: 0px 10px 0px 0px;
	padding: 0px;

	float: right;
}

.postCopy p {
	/*border: 01px solid #FF0000;*/

	font-family: AvantGarde-CondBook;
	letter-spacing: normal;
}



/* ---------- BIO ---------- */

#bioContainer {
	/*border: 01px solid #00FF00;*/

	width: inherit;
	height: 195px;

	top: 55px;

	/*margin: 0px 50px 0px 50px;*/
	/*padding: 0px 50px 0px 50px;*/
}

#bioContainer img {
	/*border: 01px solid #00FF00;*/

	/*margin: 0px 50px 0px 50px;*/
	padding: 0px 5px 0px 5px;
}

.bioHed {
	/*border: 0px solid #0000FF;*/

	color: #000000;
	font-family: AvantGarde-CondDemi;
}

.bioCopy {
	/*border: 01px solid #0000FF;*/

	margin: 0px 100px 0px 100px;
	padding: 15px 30px 0px 30px;
}



/* ---------- PRESS (ref: http://css3generator.com ) ---------- */

#pressContainer {
	/*border: 01px solid #0000FF;*/

	width: inherit;

	font-size: 22.5px;
	line-height: 35px;
}

#pressContainer ul {
	/*border: 01px solid #0000FF;*/

	list-style: square;
	list-style-position:inside;

	vertical-align: text-top;

	/* CSS3 */
	column-count: 2; 
	column-gap: 20px;
	/*column-rule: 2px dotted coral;*/
	column-fill: balance;

	/* Safari and Chrome */
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	/*-webkit-column-rule: 2px dotted coral;*/
	-webkit-column-fill: balance;

	/* Firefox */
	-moz-column-count: 2; 
	-moz-column-gap: 20px;
	/*-moz-column-rule: 2px dotted coral;*/
	-moz-column-fill: balance;

	/* Internet Explorer */
	-ms-column-count: 2; 
	-ms-column-gap: 20px;
	/*-ms-column-rule: 2px dotted coral;*/
	-ms-column-fill: balance;

	/* Opera */
	-o-column-count: 2; 
	-o-column-gap: 20px;
	/*-o-column-rule: 2px dotted coral;*/
	-o-column-fill: balance;

	margin: 0px;
	padding: 0px 0px 0xp 10px;
}
/*
#pressContainer a, #pressContainer a:link, #pressContainer a:visited {
	color: #000000;
}

#pressContainer a:hover {
	color: #FC282D;
}

#pressContainer a:active {
	color: #72CDF4;
}
*/
/*
#pressContainer li {
	border: 01px solid #0000FF;
}
*/