
/* @import './Global.scss'; */
@import './App.css';


/* force vertical scrollbar, prevent Packery gap */
/* html {
	overflow-y: scroll;
} */


/* #region ==================== MARK: .homeCanvas => canvas ==================== */

.homeCanvas {
	/* border: 2px solid #00ff00; */
	/* background-color: aqua; */

	/* position: absolute; */
	/* top: 0px; */
	/* top: 10px; */
	/* top: -285px; */
	/* top: -370px; */
	top: calc(var(--header-height) + var(--navBar-height));
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height))); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 5px)); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 10px)); */
	/* top: calc(-2 * (var(--header-height) + var(--navBar-height) + 30px)); */

	canvas {
		/* border: 2px solid #ff0000; */
		/* background-color: aqua; */

		width: 100%;
		/* height: 100vh; */
		/* height: calc(100vh - var(--header-height)); */
		height: calc(100vh - (var(--header-height) + var(--navBar-height)));
		/* height: calc(100vh - var(--header-height) + var(--navBar-height) + 10px); */

		/* display: block; */
	}
}

/* #endregion ==================== canvas ==================== */


/* #region ==================== MARK: .homeHed ==================== */

.homeHed {
	/* border: 2px solid #ff0000; */
	/* background-color: aqua; */

	/* font-family: AvenirNext-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif; */

	/* width: var(--body-min-width); */
	/* width: var(--body-max-width); */
	/* min-width: var(--body-min-width);
	max-width: var(--body-max-width); */
	/* max-width: var(--body-max-width); */

	margin: 0 auto;
	/* margin: 0 11.25vw; */
	/* margin: -60vh auto 0 auto; */
	padding: 0;

	/* position: relative; */
	/* top: 400px; */
	/* top: 30vh; */
	/* top: 31.25vh; */
	/* top: 37.5vh; */

	/* top: 31.25vh; */
	/* left: 13.125vw; */

	position: absolute;
	top: 50vh;
	left: 50vw;

	b {
		font-family: AvenirNext-DemiBold, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	i {
		font-family: AvenirNext-Italic, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	h1 {
		/* font-size: 5em; */

		font-size: 3.75rem;
	}

	h2 {
		/* font-size: 3em;
		line-height: 1em; */

		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	h3 {
		/* font-size: 1.75em;
		line-height: 2.5em; */

		font-size: 1.75rem;
		line-height: 3.75rem;
	}

	.note {
		/* font-size: 1.25em;
		line-height: 1.5em; */

		/* font-size: 1.25rem; */
		/* line-height: 1.5rem; */

		/* margin-top: 100px; */
		/* margin-top: 150px; */
		margin-top: 200px;

		p {
			margin-top: 15px;
		}
	}
}

.homeHed_d {
	width: var(--body-max-width);

	/* position: absolute;
	top: 50vh;
	left: 50vw; */

	/* transform: translate(-50%, -50%); */
	/* transform: translate(-50%, -40%); */
	transform: translate(-50%, -60%);
}

.homeHed_l {
	width: var(--body-min-width);

	/* position: absolute;
	top: 50vh;
	left: 50vw; */

	/* transform: translate(-50%, -50%); */
	transform: translate(-50%, -30%);
	/* transform: translate(-50%, -60%); */
}

/* #endregion ==================== .homeHed ==================== */
