
/* @import './Global.scss'; */
@import './App.css';


/* force vertical scrollbar, prevent Packery gap */
/* html {
	overflow-y: scroll;
} */


/* #region ==================== MARK: .homeHed ==================== */

.homeHed {
	/* border: 2px solid #00ff00; */
	/* background-color: aqua; */

	/* font-family: AvenirNext-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif; */

	width: var(--body-max-width);
	/* min-width: var(--body-min-width);
	max-width: var(--body-max-width); */

	margin: 0 auto;
	padding: 0;

	position: relative;
	/* top: 400px; */
	top: 30vh;

	b {
		font-family: AvenirNext-DemiBold, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	i {
		font-family: AvenirNext-Italic, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 3em;
		line-height: 1em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 2.5em;
	}
	.note {
		font-size: 1.25em;
		line-height: 1.5em;

		margin-top: 100px;
	}
}

/* #endregion ==================== .homeHed ==================== */


/* #region ==================== MARK: .homeCanvas => canvas ==================== */

.homeCanvas {
	/* border: 2px solid #00ff00; */
	/* background-color: aqua; */

	/* position: absolute; */
	/* top: 0px; */
	/* top: 10px; */
	top: -370px;
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height))); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 5px)); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 10px)); */
	/* top: calc(-2 * (var(--header-height) + var(--navBar-height) + 30px)); */

	canvas {
		/* border: 2px solid #ff0000; */
		/* background-color: aqua; */

		width: 100%;
		/* height: 100vh; */
		/* height: calc(100vh - var(--header-height)); */
		height: calc(100vh - (var(--header-height) + var(--navBar-height)));
		/* height: calc(100vh - var(--header-height) + var(--navBar-height) + 10px); */

		/* display: block; */
	}
}

/* #endregion ==================== canvas ==================== */