/* #region ==================== MARK: BASE ==================== */

/* .employerContainer * {
	border: 2px solid #00ffff;

	text-align: left;
	line-height: 1.25em;

	margin: 0;
	padding: 0;
	padding: 0 0 0.125em 0;
} */

.employerContainer {
	/* border: 2px solid #ff0000; */

	/* letter-spacing: 0.0375em; */

	width: var(--body-min-width);
	/* min-width: var(--body-min-width); */
	/* max-width: var(--body-max-width); */
	/* max-width: 1115px; */
	/* height: 100vh; */
	height: auto;

	overflow: auto;

	margin: 0 auto;
	/* margin: 0 auto 120px auto; */
	/* padding: 0 0 0 5%; */
	padding: var(--navBar-height) 0 var(--header-height) 0;
	/* padding: calc(var(--navBar-height) * 2) 0; */

	/* position: absolute; */

	position: relative;
	/* top: var(--header-height); */
	/* top: var(--navBar-height); */
	top: calc(var(--header-height) + var(--navBar-height));
	/* top: calc(var(--navBar-height) + 20px); */
	/* top: calc(var(--navBar-height) * 2); */

	.sectHed {
		/* border: 2px solid #ff00ff; */
		border-bottom: 1px solid #999999;

		font-weight: 500;
		text-transform: uppercase;

		width: auto;

		/* margin: 0 5%; */
		/* margin: 1.5em 0 0.5em 0; */
		margin: 1.5em 0 0.75em 0;

		/* position: relative; */
		/* left: 12.5%; */
	}

	/* h1, h2 {
		border: 2px solid #00ffff;

		font-family: AvenirNext-Medium, system-ui, Helvetica, Arial, sans-serif;
		font-family: AvenirNext-DemiBold, system-ui, Helvetica, Arial, sans-serif;

		font-weight: 500;
		font-size: 1em;
		letter-spacing: -0.05em;

		width: auto;
		width: 100%;
	} */

	h1 {
		/* border: 2px solid #00ffff; */

		/* font-family: AvenirNext-Medium, system-ui, Helvetica, Arial, sans-serif; */
		font-family: AvenirNext-DemiBold, system-ui, Helvetica, Arial, sans-serif;

		/* font-size: 1.375em; */

		font-size: 1.375rem;

		/* width: 80%; */
	}

	h2 {
		/* border: 2px solid #ff00ff; */

		font-family: AvenirNext-Medium, system-ui, Helvetica, Arial, sans-serif;
		/* font-family: AvenirNext-DemiBold, system-ui, Helvetica, Arial, sans-serif; */

		/* font-size: 1.125em;
		line-height: 0.5em;
		line-height: 1.375em; */

		font-size: 1.125rem;
		line-height: 1.375rem;

		/* width: 60%; */

		margin: 0 0 5px 0;
		/* margin: 0 0 10px 0; */

		display: inline-block;
	}

	.employerList {
		/* border: 2px solid #00ff00; */

		text-align: left;

		margin: 0 auto;
		padding: 0;

		/* .employerItem * {
			border: 1px solid #ff00ff;
		} */

		.employerItem {
			/* border: 1px solid #ff00ff; */

			width: 100%;
			height: auto;

			margin: 0;
			/* padding: 0; */
			/* padding: 0 0 50px 0; */
			padding: 0 0 2em 0;
			/* padding: 0 0 2.5em 0; */

			/* position: relative;
			display: inline-block; */

			display: grid;
			/* grid-template-columns: repeat(3, auto); */
			/* grid-template-columns: 12.5% auto 10%; */
			grid-template-columns: 12.5% auto 11.25%;
			column-gap: 0;

			.logo, .logoMissing {
				/* border: 2px solid #ff0000; */
				text-align: left;

				width: 72.5%;
				max-height: 80px;

				/* max-width: 72.5%; */
				/* max-height: 50%; */

				margin: 0;
				padding-top: 6.25px;
			}

			/* .logo {
				border: 2px solid #ff0000;

				max-width: 75%;
				max-height: 50%;

				margin: 0;
			} */

			.logoMissing {
				/* border: 2px solid #00ffff; */
				/* background: none; */

				opacity: 0.1;
			}

			/* .employerInfoContainer {
				border: 2px solid #00ffff;
			} */

			.employerInfo, .employerInfo_ {
				/* border: 2px solid #00ffff; */

				/* font-size: 1.0625em;
				line-height: 1.25em; */

				font-size: 1.0625rem;
				line-height: 1.25rem;

				/* list-style-type: disc; */
				list-style: none;
				/* list-style-position: inside; */
				list-style-position: outside;

				margin: 0;
				/* margin: 0 0 0 15px; */
				/* margin: 10px; */
				/* padding: 0; */
				/* padding: 0 0 0.25em 0.75em; */
				padding: 0 0 0.25em 0;

				i {
					font-family: AvenirNext-MediumItalic, system-ui, Avenir, Helvetica, Arial, sans-serif;
				}
			}

			/* .employerInfo {
				border: 2px solid #00ffff;

				list-style: disc;
				list-style: none;
			} */

			.employerInfo_ {
				/* border: 2px solid #00ffff; */

				margin: 0 0 0 15px;

				/* list-style: none; */
			}

			.skillHilite {
				line-height: 1.25em;

				margin: 0;
				padding: 5px 0 0 0;

				b {
					font-family: AvenirNext-Medium, system-ui, Avenir, Helvetica, Arial, sans-serif;
					/* font-family: AvenirNext-DemiBold, system-ui, Avenir, Helvetica, Arial, sans-serif; */
				}

				i {
					font-family: AvenirNext-MediumItalic, system-ui, Avenir, Helvetica, Arial, sans-serif;
				}
			}

			.employerDates {
				/* border: 2px solid #00ffff; */

				text-align: right;
				line-height: 1.75em;

				/* width: 22.5%; */
				/* width: 15%; */
				/* width: 40%; */

				/* margin-right: 10px; */
				/* margin-right: 15px; */
				/* margin-right: 20%; */

				/* position: relative;
				right: 25%; */
				/* bottom: 100%; */

				/* float: left; */
				float: right;
			}
		}
	}

	.eduContainer {
		/* border: 2px solid #0000ff; */

		width: auto;
		/* height: 8.75em; */

		/* margin: 0; */
		/* padding: 0 0 0 5%; */

		position: relative;

		.eduInfoContainer {
			/* border: 2px solid #00ff00; */

			width: 100%;
			display: grid;

			/* grid-template-columns: repeat(2, auto); */
			/* grid-template-columns: 47.5% 52.5%; */
			/* grid-template-columns: 77.5% 22.5%; */
			grid-template-columns: 12.5% auto;
			column-gap: 0;

			#eduLogoID {
				/* border: 2px solid #00ffff; */

				/* width: 100%; */
				max-width: 52.5%;

				position: relative;
				left: 10%;
			}

			/* h2 {
				border: 2px solid #0000ff;
				line-height: 1.5em;
				margin: 0 0 0.125em 0;
			} */

			.eduDate {
				/* border: 2px solid #0000ff; */
				margin: 0;
				padding: 0.25em 0 0 0;
			}
		}
	}

	.skillContainer {
		/* border: 2px solid #ff00ff; */

		/* font-size: 0.9375em; */

		font-size: 0.9375rem;

		/* padding: 0 0 0 5%; */

		.skillGrid {
			/* border: 2px solid #0000ff; */

			display: grid;

			/* padding: 0 10px 0 10px; */

			/* grid-template-columns: repeat(2, auto); */
			/* grid-template-columns: repeat(4, auto); */
			/* grid-template-columns: 50% 50%; */
			grid-template-columns: 48.75% 48.75%;
			column-gap: 2.5%;

			.skillCatHed {
				/* border: 2px solid #ff0000; */
				/* border-bottom: 1px solid #999999; */

				/* color: #666666; */
				/* font-size: 1.25em; */
				font-size: 1.25rem;
				/* letter-spacing: 0.05em; */

				/* width: 100%; */

				/* margin: 0.75em 0; */
				/* margin: 1.5em 0 0.5em 0; */
			}

			.skillChart {
				/* border: 2px solid #ff0000; */

				/* color: #666666; */
				/* font-size: 0.9375em; */
				/* font-weight: 600; */
				/* letter-spacing: 0.05em; */

				/* width: 50%; */

				/* margin: 0; */
				/* padding: 0 0 100px 0; */
				/* margin: 0 0 1.5em 0; */
				/* margin: 0 auto 1.5em auto; */
				margin: 0 0.0625% 1.5em 0.0625%;

				/* position: relative; */

				/* .chartHed {
					border: 2px solid #00ff00;
					font-size: 1.125em;

					margin: 0;
					padding: 0 0 0.5em 0;
				} */

				.chartItem {
					/* border: 2px solid #00ff00; */
					/* background: rgba(var(--color): #000000, var(--alpha): 1); */

					/* margin: 0; */
					/* padding: 0 0 10px 0; */

					display: grid;

					/* grid-template-columns: repeat(2, auto); */
					/* grid-template-columns: 47.5% 52.5%; */
					/* grid-template-columns: 77.5% 22.5%; */
					/* grid-template-columns: 85% 15%; */
					grid-template-columns: 75% auto;
					column-gap: 0;

					/* grid-auto-rows: max-content; */
					grid-template-rows: auto auto;

					align-items: center;
					justify-items: center;

					.chartCell {
						/* border: 2px solid #ff00ff; */
						border: 1px solid #cccccc;
						background: #ffffff;

						/* width: 47.5%; */
						width: 100%;
						height: 100%;

						margin: 0;
						padding: 0;

						display: table-cell;
						vertical-align: middle;

						p {
							line-height: 1.5em;
							margin: 0;
							/* padding: 0; */
							/* padding: 0 15px; */
							padding: 5px 15px;
						}
					}
				}
			}
		}
	}
}

/* #endregion ==================== MARK: BASE ==================== */
