@import './Global.css';


/* #region ==================== BASE ==================== */

.employerContainer * {
    /* border: 2px solid #00ffff; */

    text-align: left;
    line-height: 1.25em;

    margin: 0;
    padding: 0;
    /* padding: 0 0 0.125em 0; */
}

.employerContainer {
    /* border: 2px solid #00ffff; */

    /* letter-spacing: 0.0375em; */

    width: var(--body-width);
    min-width: var(--body-min-width);
    max-width: var(--body-max-width);

    /* margin: 0 auto; */
    margin: 0 auto 120px auto;
    /* padding: 0 0 0 5%; */

    /* position: absolute; */

    h1 {
        /* border: 2px solid #ffff00; */

        font-size: 1.375em;
    }

    .sectHed {
        /* border: 2px solid #ff00ff; */
        border-bottom: 1px solid #999999;

        text-transform: uppercase;

        width: auto;

        /* margin: 0 5%; */
        /* margin: 1.5em 0 0.5em 0; */
        margin: 1.5em 0 0.75em 0;

        /* position: relative; */
        /* left: 12.5%; */
    }

    h2 {
        /* border: 2px solid #ff00ff; */

        font-size: 1.125em;
        /* line-height: 0.5em; */
        line-height: 1.375em;

        width: 60%;

        margin: 0 0 5px 0;
        /* margin: 0 0 10px 0; */

        display: inline-block;
    }

    ul {
        /* margin: inherit; */
        /* padding: 15px 0; */

        li {
            /* font-weight: bold; */

            padding-left: 0.625em;
            text-indent: -0.625em;

            list-style: none;
        }
    }

    p {
        /* font-weight: bold; */
        /* letter-spacing: 0.05em; */

        /* margin: inherit; */
        padding: 0.5em 0 0 0;
    }

    .logo {
        /* border: 2px solid #00ffff; */
        background: none;

        width: 12.5%;
        /* height: auto; */
        max-height: 80px;

        float: left;

        /* margin: 0; */
        margin: 5px 0 0 0;
        /* padding: 0; */

        /* position: absolute; */
        top: 0;
        left: 0;
    }

    .logoMissing {
        /* border: 2px solid #00ffff; */
        /* background: none; */

        opacity: 0.1;
    }

    .employerInfoContainer, .eduInfo {
        /* border: 2px solid #ff0000; */

        /* font-size: 1em; */

        /* width: 80%; */
        width: 83.75%;
        /* height: 100%; */

        float: right;
    }

    .employerList {
        /* border: 2px solid #00ff00; */

        text-align: left;

        margin: 0 auto;
        /* padding: 125px 0 0 5%; */
        padding: 125px 0 0 0;

        .employerItem {
            /* border: 1px solid #ff00ff; */

            width: 100%;
            height: auto;

            margin: 0;
            /* padding: 0; */
            /* padding: 0 0 50px 0; */
            padding: 0 0 2em 0;
            /* padding: 0 0 2.5em 0; */

            position: relative;
            display: inline-block;

            /* .employerInfoContainer { */
                /* border: 2px solid #00ffff; */

                .employerDates {
                    /* border: 2px solid #00ffff; */

                    text-align: right;

                    width: 22.5%;

                    float: right;
                }

                .employerInfo {
                    /* border: 2px solid #00ffff; */

                    font-size: 1.0625em;
                    line-height: 1.25em;

                    margin: 0;
                    /* padding: 0; */
                    padding: 0 0 0.25em 0.75em;
                }
            /* } */
        }
    }

    .eduContainer {
        /* border: 2px solid #0000ff; */

        width: auto;
        height: 8.75em;

        /* margin: 0; */
        /* padding: 0 0 0 5%; */

        position: relative;

        #eduLogoID {
            /* border: 2px solid #00ffff; */
            position: relative;
        }

        /* .eduInfo { */
            /* border: 2px solid #00ff00; */

            h2 {
                /* border: 2px solid #0000ff; */
                line-height: 1.5em;
                margin: 0 0 0.125em 0;
            }

            .eduDate {
                /* border: 2px solid #0000ff; */
                margin: 0;
                padding: 0.25em 0 0 0;
            }
        /* } */
    }

    .skillContainer {
        /* border: 2px solid #ff00ff; */

        font-size: 0.9375em;

        /* padding: 0 0 0 5%; */

        .skillCatHed {
            /* border: 2px solid #ff0000; */
            /* border-bottom: 1px solid #999999; */

            /* color: #666666; */
            font-size: 1.25em;
            /* letter-spacing: 0.05em; */

            width: 100%;

            /* margin: 0.75em 0; */
            /* margin: 1.5em 0 0.5em 0; */
        }

        .skillChart {
            /* border: 2px solid #ff0000; */

            /* color: #666666; */
            /* font-size: 0.9375em; */
            /* font-weight: 600; */
            /* letter-spacing: 0.05em; */

            /* margin: 0; */
            /* padding: 0 0 100px 0; */
            margin: 0 0 1.5em 0;

            /* position: relative; */

            .chartHed {
                /* border: 2px solid #00ff00; */
                font-size: 1.125em;
                margin: 0;
                padding: 0 0 0.5em 0;
            }

            .chartItem {
                /* border: 2px solid #00ff00; */
                /* background: rgba(var(--color): #000000, var(--alpha): 1); */

                /* margin: 0; */
                /* padding: 0 0 10px 0; */

                display: grid;

                /* grid-template-columns: repeat(2, auto); */
                /* grid-template-columns: 47.5% 52.5%; */
                /* grid-template-columns: 77.5% 22.5%; */
                grid-template-columns: 85% 15%;
                column-gap: 0;

                /* grid-auto-rows: max-content; */
                grid-template-rows: auto auto;

                align-items: center;
                justify-items: center;

                .chartCell {
                    /* border: 2px solid #ff00ff; */
                    border: 1px solid #cccccc;
                    background: #ffffff;

                    /* width: 47.5%; */
                    width: 100%;
                    height: 100%;

                    margin: 0;
                    padding: 0;

                    display: table-cell;
                    vertical-align: middle;

                    p {
                        line-height: 1.5em;
                        margin: 0;
                        /* padding: 0; */
                        /* padding: 0 15px; */
                        padding: 5px 15px;
                    }
                }
            }
        }
    }
}

.dialogModal {
    /* border: 2px solid #ff0000; */

    /* background: rgba(var(--color): #000000, var(--alpha): 0.5); */
    /* @include modalBG(); */

    text-align: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 999; */
    /* display: inline-block; */

    .dialogHotspot {
        /* border: 2px solid #ff0000; */

        /* background: rgba(var(--color): #000000, var(--alpha): 0.5); */
        /* @include modalBG(); */

        text-align: center;

        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* z-index: 999; */
        /* display: inline-block; */

        cursor: pointer;
    }

    .dialogBox {
        /* border: 2px solid #00ffff; */
        border: 2px solid #999999;

        background: rgba(var(--color): #ffffff, var(--alpha): 1);
        /* @include modalBG(); */
        /* @include bgGradient01(); */

        font-size: 15px;
        line-height: 15px;

        width: 30vw;
        max-width: 300px;
        height: auto;

        margin: 0 auto;
        padding: 10px 20px;

        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        /* z-index: 999; */

        .dialogHed {
            /* border: 1px solid #ff0000; */

            font-size: 1.125em;

            margin: 0;
            /* padding: 0; */

            padding: 10px 0 20px 0;
        }

        .dialogHed02 {
            /* border: 1px solid #ff0000; */

            padding: 10% 0 5% 0;
        }

        .dialogMenu {
            /* border: 1px solid #0000ff; */

            /* width: 100%; */
            /* height: 80%; */

            margin: 0;
            padding: 0;

            display: grid;
            /* grid-template-columns: repeat(4, auto); */
            grid-template-columns: repeat(auto, 5);
            grid-gap: 5%;

            a {
                /* border: 2px solid #00ff00; */
                border-radius: 3px;

                /* background: rgba(var(--color: #000000, var(--alpha: 0.125); */
                /* @include btnBgRest(); */

                color: rgba(var(--color): #000000, var(--alpha): 1);
                font-size: 0.875em;
                text-decoration: none;

                /* height: 20%; */
                height: 20%;

                /* margin: 10%; */
                margin: 0;
                padding: 3.75% 0;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: 0.25s;
                /* @include transition(background-color 1s 0.25s, color 0.25s); */
                /* @include transition(0.25s); */
            }

            a:hover {
                /* border: 2px solid #00ff00; */

                /* @include btnBgHover(); */
                transform: scale(1.03125);
            }
        }

        .dialogMenu02 {
            /* border: 1px solid #0000ff; */

            grid-template-columns: repeat(auto, 1);
            grid-gap: 5%;
        }

        .dialogCloseBTN {
            border: none;
            border-radius: 15px;

            background: #eeeeee;

            font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
            /* font-weight: bold; */
            text-align: center;
            vertical-align: middle;
            /* text-decoration: none; */

            width: 25px;
            height: 25px;

            position: absolute;
            top: 10px;
            right: 10px;
        }

        .dialogCloseBTN:hover {
            background: #cccccc;
        }

        .dialogCloseBTN:focus {
            outline: 0;
        }
    }
}

.dialogModalOpen {
    z-index: 999;
    display: initial;
}

.dialogModalClosed {
    z-index: 0;
    display: none;
}

/* #endregion ==================== BASE ==================== */



/* #region ========================= MOBILE: 414px ========================= */

@media  
    /* only screen and (min-device-width: 375px)  */
    /* only screen and (min-device-width: 414px) */
    /* only screen and (min-device-width: 375px),  */
    /* only screen and (min-device-width: 414px),  */
    only screen and (max-device-width: 414px) 
    { 
        .employerContainer {
            /* border: 2px solid #ff00ff; */

            font-size: 12.5px;
            line-height: 20px;

            width: 95vw;
            min-width: 50vw;
            max-width: 100vw;

            .employerList {
                /* border: 2px solid #00ffff; */

                padding: 120px 0;
                margin: 0;

                .employerItem {
                    /* border: 1px solid #ff00ff; */

                    padding: 0 0 1em 0;

                    position: relative;

                    .logo {
                        /* border: 2px solid #ff0000; */

                        width: 18.75%;

                        margin: 1.25% auto 0 auto;
                    }

                    .employerInfoContainer {
                        /* border: 2px solid #ff0000; */

                        width: 76.25%;

                        h1, h2 {
                            /* font-size: 1em; */
                            letter-spacing: -0.05em;
                            width: auto;
                        }

                        /* h1 { */
                            /* font-size: 1.375em; */
                        /* } */

                        /* h2 { */
                            /* font-size: 1.0625em; */
                        /* } */

                        .employerDates {
                            text-align: left;

                            width: auto;

                            padding: 0 0 0.5em 0;

                            float: unset;
                        }

                        p {
                            /* font-size: 0.9375em; */
                            line-height: 1.375em;
                            padding: 0.5em 0 0 0;
                        }
                    }
                }
            }
        }

        .dialogModal {
            /* border: 2px solid #ff0000; */

            .dialogBox {
                /* border: 2px solid #ff00ff; */

                width: 80vw;
            }
        }
    }

/* #endregion ========================= MOBILE: 414px ========================= */



/* #region ========================= TABLETS / CRAPTOPS: 1024px ========================= */

@media  
    /* only screen and (min-device-width: 768px)  */
    /* only screen and (min-device-width: 768px),  */
    /* only screen and (max-device-width: 991px)  */
    only screen and (min-device-width: 1024px)
    { 
        /* .employerContainer { */
            /* border: 2px solid #0000ff; */
        /* } */

        /* .dialogModal { */
            /* /* border: 2px solid #ff0000; */ */

            /* .dialogBox { */
                /* border: 2px solid #0000ff; */
                /* /* border: 2px solid #999999; */ */
            /* } */
        /* } */
    }

/* #endregion ========================= TABLETS / CRAPTOPS: 1024px ========================= */



/* #region ========================= LAPTOPS: 1440px ========================= */

@media  
    /* only screen and (min-device-width: 992px)  */
    /* only screen and (min-device-width: 992px),  */
    /* only screen and (min-device-width: 1366px) */
    only screen and (min-device-width: 1440px)
    { 
        /* .employerContainer { */
            /* border: 2px solid #00ff00; */
        /* } */

        /* .dialogModal { */
            /* /* border: 2px solid #ff0000; */ */

            /* .dialogBox { */
                /* border: 2px solid #00ff00; */
                /* /* border: 2px solid #999999; */ */
            /* } */
        /* } */
    }

/* #endregion ========================= LAPTOPS: 1440px ========================= */



/* #region ========================= DESKTOPS: 1920px+ ========================= */

@media  
    /* only screen and (min-device-width: 1441px) */
    only screen and (min-device-width: 1920px)
    { 
        /* .employerContainer { */
            /* border: 2px solid #ff0000; */
        /* } */

        .dialogModal {
            /* border: 2px solid #ff0000; */

            .dialogBox {
                /* border: 2px solid #ff0000; */

                font-size: 1em;
            }
        }
    }

/* #endregion ========================= DESKTOPS: 1920px+ ========================= */
