* {
    margin: 0;
    padding: 0;

    position: absolute;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;

    // user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

html, body {
    // border: 2px solid #ff0000;
    // background: #99ccff;
    // background: rgba($color: #000000, $alpha: 0.5);

    font-family: 'ItcKabel-Demi';

    width: 100vw;
    height: 100vh;

    // width: 450px;
    // height: 360px;

    margin: 0;
    padding: 0;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;

    .bannerContainer {
        // border: 2px solid #ff0000;

        background: #ffffff;
        // background: #000000;

        // background-image: url(../images/COSMO_EC_InstantHottie01.jpg);
        // background-image: url(../images/COSMO_EC_InstantHottie02.jpg);
        // background-image: url(../images/COSMO_EC_InstantHottie.jpg);
        // background-image: url(../images/bg.jpg);
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: left;

        width: 450px;
        height: 360px;

        // margin: 0;
        margin: 0 auto;
        padding: 0;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        overflow: hidden;

        .btn_audioToggle {
            // border: 2px solid #ff00ff;
            background: rgba($color: #000000, $alpha: 0);

            opacity: 0.75;

            left: 10px;
            bottom: 10px;
            z-index: 100;

            cursor: pointer;

            .btn_audioToggleOn{
                fill: #ffffff;

                visibility: visible;
            }

            .btn_audioToggleOff{
                fill: #ffffff;

                visibility: hidden;
            }
        }

        .bg {
            // border: 2px solid #0000ff;

            width: inherit;
            height: inherit;

            top: 0;
            left: 0;
        }

        .clickTag {
            // border: 2px solid #0000ff;

            background-image: url(../images/COSMO_EC_InstantHottie.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;

            width: inherit;
            height: inherit;

            top: 0;
            left: 0;
            z-index: 99;

            cursor: pointer;

            .btnPlay {

                width: 20%;
                height: auto;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .clickTag::before {
            // border: 4px solid #000000;
            // background: #ffffff;
            background-color: #ffffff;

            content: '';
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.5;
        }

        .logo_cosmoSVG {
            // border: 1px solid #00ff00;

            // width: 450px;
            width: 100%;

            // height: 90px;
            // height: 25%;

            // top: -5px;
            top: -1.388888888888889%;
        }

        .logo_bachelorsSVG {
            // border: 1px solid #0000ff;

            // width: 250px;
            width: 55.555555555555556%;

            // height: 37.5px;
            height: 10.416666666666667%;

            // top: 40px;
            top: 11.111111111111111%;

            .logo_bachelorsCosmo {
                // border: 1px solid #00ffff;

                fill: #d60070;
            }

            .logo_bachelorsBachelors {
                // border: 1px solid #00ffff;

                fill: #0490bf;
            }
        }

        .rippleContainer {
            // border: 2px solid #ff0000;

            // background-image: url(../images/COSMO_EC_InstantHottie.jpg);
            // background-image: url(../images/bg.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;

            width: inherit;
            height: inherit;

            top: 0;
            left: 0;
        }

        .copyContainer {
            // border: 2px solid #ff0000;

            // width: 270px;
            // width: 60%;
            // width: 235px;
            width: 52.222222222222222%;

            // height: 225px;
            // height: 62.5%;
            // height: 190px;
            height: 52.777777777777778%;
            overflow: visible;

            // top: 135px;
            top: 37.5%;
            left: 40%;
            // bottom: 0;

            .copySVG {
                // border: 2px solid #00ff00;

                width: 100%;

                // left: 40%;
                // bottom: 0;
    
                overflow: visible;

                #copy04ID {
                    fill: #b8f9fb;
                }
            }
        }

        .url_cosmoBachelors {
            // border: 2px solid #ff0000;

            width: 153.5957px;

            opacity: 0.75;

            // top: 330px;
            // left: 290px;
            top: 91.666666666666667%;
            left: 64.444444444444444%;
        }

        .poolboy {
            // border: 2px solid #ff0000;

            // width: 280px;
            width: 62.222222222222222%;

            left: 0;
            bottom: 0;

            // will-change: transform;
        }
    }
}
