/* #region ========================= GLOBAL ========================= */

html, body {
    // border: 02px solid inset #FF0000 !important;

    background: #ffffff;

	color: #000000;

	width: 300px;
	height: 250px;

    margin: 0 auto;
	padding: 0;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

/* #endregion ========================= GLOBAL ========================= */


/* #region ========================= .bannerContainer ========================= */

.bannerContainer {
    // border: 1px solid #d5ba93;
    border: 1px solid #eee3d4;

	// width: 100%;
	// height: 100%;

	width: 298px;
	height: 248px;

    margin: 0;
    padding: 0;

    position: relative;

    overflow: hidden;

    .bottle, .bottleMask {
        // border: 2px solid #00ff00;

        width: 75px;
        height: 125px;

        position: absolute;
        left: 196px;
        top: 128px;
    }

    .image, .imageSVG {
        // border: 1px solid #ff0000;

        position: absolute;
        left: 8px;
        top: 8px;
    }

    .bottleSVG {
        // border: 2px solid #00ff00;

        width: 75px;
        height: 125px;

        position: absolute;
        left: 196px;
        top: 128px;

        .bottleBGPath {
            fill: #ffffff;

            position: absolute;
            z-index: -10;
        }
    }

    .logo_untold {
        // border: 1px solid #ff0000;

        width: 105px;

        position: absolute;
        left: 183px;
        top: 103px;
    }

    .logo_ea {
        // border: 1px solid #ff0000;

        width: 76px;

        position: absolute;
        left: 112px;
        top: 200px;
    }

    .cta {
        // border: 1px solid #ff0000;

        width: 95px;

        position: absolute;
        left: 8px;
        top: 217px;
    }
}

/* #endregion ========================= .bannerContainer ========================= */
